{% load staticfiles %}
<html>
	<head>
		<title>My First Blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/blog.css" %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div>
			<h1><a href="">My First Blog</a></h1>
		</div>
		
		{% for post in posts %}
			<div>
				<p>published: {{ post.published_date  }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaks }}</p>
			</div>			
		{% endfor %}	
		<div>
			<p>published: 13.09.2015, 23:27</p>
			<h2><a href="">My second post</a></h2>
			<p>And more whatever...</p>
		</div>
		
	</body>
</html>